<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Preschool - Bootstrap Admin Template</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../assets/img/favicon.png"
    />

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />

    <link
      rel="stylesheet"
      href="../assets/plugins/fontawesome/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="../assets/plugins/fontawesome/css/fontawesome.min.css"
    />

    <link rel="stylesheet" href="../assets/css/fullcalendar.min.css" />

    <link rel="stylesheet" href="../assets/css/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="../assets/plugins/morris/morris.css" />

    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.min.js"></script>
      <script src="../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <style>
    .scroll {
      overflow-y: scroll;
    }
  </style>

  <body>
    <div class="main-wrapper">
      <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll overflow-auto">
          <div id="sidebar-menu" class="sidebar-menu">
            <div class="header-left">
              <a href="index.html" class="logo">
                <img
                  src="../assets/img/logo1.png"
                  width="40"
                  height="40"
                  alt=""
                />
                <span class="text-uppercase">Preschool</span>
              </a>
            </div>
            <ul class="sidebar-ul">
              <!--- dashboard -->
              <li>
                <a
                  class="active"
                  routerLink="/"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                  ><img
                    src="../assets/img/sidebar/icon-1.png"
                    alt="icon"
                  /><span>Dashboard</span></a
                >
              </li>

              <!--- teachers -->
              <li class="submenu">
                <a class="active" routerLink="/enseignants"
                  ><img src="../assets/img/sidebar/icon-2.png" alt="icon" />
                  <span> Teachers</span></a
                >
                <a class="active" routerLink="/enseignant-create"
                  ><img
                    src="../assets/img/sidebar/icon-2.png"
                    alt="icon"
                  /><span>Add Teacher</span></a
                >
              </li>

              <!--- teachers -->

              <li class="submenu">
                <a routerLink="/subjects"
                  ><img
                    src="../assets/img/sidebar/icon-7.png"
                    alt="icon"
                  /><span>All Subjects</span></a
                >
                <a routerLink="/create-subject"
                  ><img
                    src="../assets/img/sidebar/icon-7.png"
                    alt="icon"
                  /><span>Add Subject</span></a
                >
              </li>
              <li class="submenu">
                <a routerLink="/classes"
                  ><img
                    src="../assets/img/sidebar/icon-4.png"
                    alt="icon"
                  /><span>All Classes</span></a
                >

                <a routerLink="/create-classe"
                  ><img
                    src="../assets/img/sidebar/icon-4.png"
                    alt="icon"
                  /><span>Add Classe</span></a
                >
              </li>

              <li class="submenu">
                <a routerLink="/annees"
                  ><img
                    src="../assets/img/sidebar/icon-6.png"
                    alt="icon"
                  /><span>All Scholar year</span></a
                >

                <a routerLink="/create-annee"
                  ><img
                    src="../assets/img/sidebar/icon-6.png"
                    alt="icon"
                  /><span>Add Scholar year</span></a
                >
              </li>

              <li class="submenu">
                <a routerLink="/courses"
                  ><img
                    src="../assets/img/sidebar/icon-9.png"
                    alt="icon"
                  /><span>All Courses</span></a
                >

                <a routerLink="/create-course"
                  ><img
                    src="../assets/img/sidebar/icon-9.png"
                    alt="icon"
                  /><span>Add Courses</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="page-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>

    <script src="../assets/js/jquery-3.6.0.min.js"></script>

    <script src="../assets/js/bootstrap.bundle.min.js"></script>

    <script src="../assets/js/jquery.slimscroll.js"></script>

    <script src="../assets/js/select2.min.js"></script>
    <script src="../assets/js/moment.min.js"></script>

    <script src="../assets/js/fullcalendar.min.js"></script>
    <script src="../assets/js/jquery.fullcalendar.js"></script>

    <script src="../assets/plugins/morris/morris.min.js"></script>
    <script src="../assets/plugins/raphael/raphael-min.js"></script>
    <script src="../assets/js/apexcharts.js"></script>
    <script src="../assets/js/chart-data.js"></script>

    <script src="../assets/js/app.js"></script>
  </body>
</html>
